.ipynb_checkpoints/*
.DS_Store/*
.DS_Store/
.DS_Store
*.html
notebooks/old_notebooks
notebooks/logs/*
notebooks/XRef/*
notebooks/parameter_estimation_notebooks/*
notebooks/gurobi.log
models/other_models/*
output/*
functions/__pycache__/*
functions/functions_not_used/
.ipynb_checkpoints/
